- name: Import task webuser in user role
  ansible.builtin.import_role:
    name: user
    tasks_from: webuser
  when:
    - site is not defined
    - user is defined

- name: Set site
  ansible.builtin.set_fact:
    site: '{{ user_webuser.site }}'
  when:
    - site is not defined
    - user is defined

- name: Check site
  ansible.builtin.assert:
    that: site is defined
    msg: 'Require `site` or `user` variable'
    quiet: true

- name: Task renewal info in acme role
  ansible.builtin.import_role:
    name: acme
    tasks_from: renewal
  vars:
    acme_domain: '{{ site }}'
