---
- name: Set other tls dir variables
  ansible.builtin.set_fact:
    web_tls_certs_dir: '{{ web_tls_certs_dir | default(web_tls_dir ~ "/certs") }}'
    web_tls_private_dir: '{{ web_tls_private_dir | default(web_tls_dir ~ "/private") }}'

- name: Set httpd php
  ansible.builtin.set_fact:
    httpd_php: >-
      {{ (httpd_mpm == "prefork" and ansible_distribution_version is version("9", "<"))
        | ternary("mod_php", "php-fpm") }}

- name: Set proxy_env
  ansible.builtin.set_fact:
    proxy_env:
      http_proxy: '{{ proxy_uri }}'
      https_proxy: '{{ proxy_uri }}'
      ftp_proxy: '{{ proxy_uri }}'
      no_proxy: '{{ proxy_excludes | join(",") }}'
  when: proxy_uri is defined
