# start ACME challange
---
- name: Create ACME challenge
  community.crypto.acme_certificate:
    acme_version: 2
    acme_directory: '{{ acme_account.server }}'
    account_key_src: '{{ acme_info.key }}'
    csr: '{{ tls_info.csr }}'
    dest: '{{ tls_info.cert }}'
    fullchain_dest: '{{ tls_info.cert }}.fullchain'
    challenge: http-01
    modify_account: false
  register: acme_challenge

- name: Make well-known acme-challeng dir
  ansible.builtin.file:
    path: '{{ data_acme_html_dir }}/.well-known/acme-challenge'
    state: directory
    mode: '0755'

- name: Copy http-01 challenge
  ansible.builtin.copy:
    content: '{{ item.value["http-01"].resource_value }}'
    dest: '{{ data_acme_html_dir }}/{{ item.value["http-01"].resource }}'
    mode: '0644'
  loop: '{{ acme_challenge.challenge_data | dict2items }}'
  when: acme_challenge is changed
