# tls
# TODO: 証明書を更新しても、各サービスは再起動しないため、手動で再起動が必要になる。
---
- name: Set tls info
  ansible.builtin.set_fact:
    tls_info:
      cn: '{{ webuser.site }}'
      cert: '{{ data_tls_certs_dir }}/{{ webuser.site }}.cer'
      key: '{{ data_tls_private_dir }}/{{ webuser.site }}.key'

- name: Set issuer
  ansible.builtin.set_fact:
    tls_info: >-
      {{ tls_info | combine({"issuer": (lookup("file", tls_info.cert)
        | community.crypto.x509_certificate_info).issuer.commonName}) }}

- name: Copy cert (self sigend)
  ansible.builtin.copy:
    src: '{{ tls_info.cert }}'
    dest: '{{ webuser.tls_cert }}'
    owner: root
    group: root
    mode: '0644'
  when: tls_info.cn == tls_info.issuer

- name: Copy chained certs
  ansible.builtin.copy:
    content: |
      {{ lookup("file", tls_info.cert) }}
      {{ lookup("file", data_tls_im_certs_dir ~ "/" ~ tls_im_certs[tls_info.issuer]) }}
    dest: '{{ webuser.tls_cert }}'
    owner: root
    group: root
    mode: '0644'
  when: tls_info.cn != tls_info.issuer

- name: Copy private key
  ansible.builtin.copy:
    src: '{{ tls_info.key }}'
    dest: '{{ webuser.tls_key }}'
    owner: root
    group: root
    mode: '0600'
