[Unit]
Description=The User Application Server
After=web-fs.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStartPre=/usr/bin/test -x {{ web_dir }}/%i/data/app/start
ExecStart=/usr/sbin/chroot --userspec=%i:apache {{ web_dir }}/%i /data/app/start
ExecStop=/usr/sbin/chroot --userspec=%i:apache {{ web_dir }}/%i /data/app/stop
TimeoutStartSec=150

[Install]
WantedBy=multi-user.target
