upstream {{ webuser.name }} {
{% if "test" in group_names %}
    server localhost:{{ webuser.httpd_port }};
{% else %}
    ip_hash;
{% for host in groups[webuser.host] %}
    server {{ host }}:{{ webuser.httpd_port }};
{% endfor %}
{% endif %}
}

{% if webuser.app_use and webuser.app_one %}
upstream {{ webuser.name }}-app {
    server {{ groups[webuser.host] | first }}:{{ webuser.httpd_port }};
}
{% endif %}

server {
{% if webuser.site == default_site %}
    listen       443 ssl http2 default_server;
    listen       [::]:443 ssl http2 default_server;
{% else %}
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
{% endif %}
    server_name  {{ webuser.site }};
    root         {{ webuser.chroot_dir }}/public_html;

    access_log  {{ webuser.chroot_dir }}/var/log/nginx/access_{{ inventory_hostname }}.log
                main  buffer=64k  flush=1m;

    ssl_certificate     "{{ webuser.tls_cert }}";
    ssl_certificate_key "{{ webuser.tls_key }}";

{% if not webuser.public %}
    allow 127.0.0.0/8;
    allow ::1;
    allow 10.0.0.0/8;
    allow 172.16.0.0/12;
    allow 192.168.0.0/16;
    allow fe80::/10;
    allow fc00::/7;
    deny all;
{% endif %}

    location @backend {
        proxy_pass https://{{ webuser.name }};
    }

{% if webuser.app_use and webuser.app_one %}
    location @backend-app {
        proxy_pass https://{{ webuser.name }}-app;
    }
{% endif %}

    # deny dot files
    location ~ /\. {
        deny all;
    }

    # php cgi fcgi shtml
    location ~ (?:\.php|\.cgi|\.fcgi|\.shtml)$ {
        proxy_pass https://{{ webuser.name }};
    }

    # normal files
    location / {
        error_page 403 404 = @backend;
    }

{% if webuser.app_use and webuser.app_one %}
    # app
    location ^~ {{ webuser.app_path }} {
        error_page 403 404 = @backend-app;
    }
{% endif %}
}
