# CentOS-Gluster-{{ gluster_version }}-custom.repo
#
# Please see http://wiki.centos.org/SpecialInterestGroup/Storage for more
# information
#
# $stream -> $releasever

[centos-gluster{{ gluster_version }}]
name=CentOS-$releasever - Gluster {{ gluster_version }}
metalink=https://mirrors.centos.org/metalink?repo=centos-storage-sig-gluster-{{ gluster_version }}-$releasever&arch=$basearch
#baseurl=http://mirror.stream.centos.org/SIGs/$releasever/storage/$basearch/gluster-{{ gluster_version }}/
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage

[centos-gluster{{ gluster_version }}-test]
name=CentOS-$releasever - Gluster {{ gluster_version }} Testing
baseurl=http://buildlogs.centos.org/centos/$releasever/storage/$basearch/gluster-{{ gluster_version }}/
gpgcheck=0
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage
