# ロケール設定
---
- name: Install Japanese language packages
  ansible.builtin.dnf:
    state: present
    name: langpacks-ja

- name: Check locale
  ansible.builtin.command: localectl
  register: setup_locale_localectl_result
  changed_when: false

- name: Set locale to Japanese
  ansible.builtin.command: localectl set-locale LANG=ja_JP.UTF-8
  changed_when: true
  when: setup_locale_localectl_result.stdout is not search('LANG=ja_JP\.UTF-8')
