# Create ACME account
---
- name: Task info
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.import_tasks:
    file: info.yml
  when: acme_info is not defined

- name: Create account key
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.openssl_privatekey:
    path: '{{ acme_info.key }}'
    type: '{{ acme_account_type }}'
    curve: '{{ acme_account_curve }}'
    size: '{{ acme_account_size }}'
    mode: '0600'

- name: Create ACME account
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.acme_account:
    acme_version: 2
    acme_directory: '{{ acme_account_info.server }}'
    account_key_src: '{{ acme_info.key }}'
    contact:
      - "mailto:{{ acme_account_info.email }}"
    terms_agreed: true
    external_account_binding:
      kid: '{{ acme_account_info.eab_kid }}'
      key: '{{ acme_account_info.eab_hmac_key }}'
      alg: '{{ acme_account_info.eab_hmac_alg }}'
    state: present

- name: Get ACME account info
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.acme_account_info:
    acme_version: 2
    acme_directory: '{{ acme_account_info.server }}'
    account_key_src: '{{ acme_info.key }}'
  register: acme_account
