# nginx
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    log_format  main    '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        '"$upstream_addr" $host $scheme $hostname';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    server_tokens       off;
    autoindex           off;
    index               index.html index.htm;

    # ssl paramaters
    ssl_protocols              TLSv1.2 TLSv1.3;
    ssl_session_cache          shared:SSL:1m;
    ssl_session_timeout        10m;
    ssl_ciphers                PROFILE=SYSTEM;
    ssl_prefer_server_ciphers  on;

    # proxy
    proxy_http_version  1.1;
    proxy_read_timeout  600s; # default 60s
    proxy_set_header    Host               $host;
    proxy_set_header    X-Real-IP          $remote_addr;
    proxy_set_header    X-Forwarded-Host   $host:$server_port;
    proxy_set_header    X-Forwarded-Server $host;
    proxy_set_header    X-Forwarded-Port   $server_port;
    proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto  $scheme;
    proxy_set_header    Proxy              ""; # for security

    # real_ip
    {% for proxy in trusted_proxies %}
    set_real_ip_from {{ proxy}};
    {% endfor %}
    real_ip_header   X-Real-IP;

    # upstream
    upstream web80 {
        ip_hash;
    {% for host in groups["web"] %}
        server {{ host }}:80;
    {% endfor %}
    }

    upstream web443 {
        ip_hash;
    {% for host in groups["web"] %}
        server {{ host }}:443;
    {% endfor %}
    }

    # old upstream
    upstream web {
        ip_hash;
    {% for host in groups["web"] %}
        server {{ host }}:443;
    {% endfor %}
    }

    include /etc/nginx/virtual.d/*.conf;

    server {
        listen       80 default_server;
        listen       [::]:80 default_server;
        server_name  _;

        # add headers always
        add_header  Strict-Transport-Security  "max-age=63072000"  always;
        add_header  X-Frame-Options            "SAMEORIGIN"        always;
        add_header  X-Content-Type-Options     "nosniff"           always;

        location / {
            return 301 https://$host$request_uri;
        }

        location {{ web_well_known_acme_challeng_path }}/ {
            root {{ web_root_dir }};
        }
    }
}
