---
## General
server_domain: web.internal
site_domain: site.internal
# ntp_server: your net server
# proxy_uri: your proxy uri
proxy_excludes:
  - localhost
  - .localdomain
  - 127.0.0.0/8
  - 169.254.0.0/16
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16
  - ::1
  - fe80::/10
  - fc00::/7
# mgt_networks:
# trusted_proxies:
# vip_addresses:
# lvs_dr_addresses:
# lvs_dr_group:
# glusterfs or nfs
admin_mail: root@localhost
haproxy_check_user: haproxy
mgt_site: localhost
mgt_tls_cert: /etc/pki/tls/certs/server.cer
mgt_tls_key: /etc/pki/tls/private/server.key
mgt_main_server: '{{ groups["mgt"] | first }}'
mgt_app: false
# additional_hosts:
## User
## Apache HTTP Server
httpd_mpm: event
## ftp
# vsftpd or proftpd
ftp_server: vsftpd
ftp_banner: 'Web Hosting Service'
ftp_ssl: true
ftp_ssl_only: true
ftp_ssl_mode: explicit
# disable "TLSv1.3" for bug client
ftp_ssl_versions: ["TLSv1.2"]
ftp_pasv_port_range: [20100, 20199]
## LDAP
# member or posix (default member)
ldap_group: member
# ldap_auth_name: LDAP Auth
# ldap_url: ldaps://ldap/ou=User?uid
# ldap_bind_dn: cn=bind
# ldap_bind_password: pass
## NFS Ganesha
nfs_ganesha_use: false
nfs_ganesha_version: "5"
nfs_ganesha_pnfs: false
app_list:
  - perl
  - python
  - php
  - ruby
  # - nodejs
  # - java
  # - dotnet
  # - gcc
  # - clang
  # - rust
  # - golang
app_life_cycle: lts
app_dev: false
app_util: false
app_versions: {}
logrotate_frequency: daily
logrotate_rotate: 92
logrotate_time: 00:00:00
nginx_uid: 980
nginx_gid: 980
nginx_client_max_body_size: 1M
mail_smtp_host: smtp.example.jp
mail_smtp_port: 25
mail_smtp_tls: false
mail_smtp_starttls: false
# mail_from: no-reply@example.jp
