# bk
---
# - name: Role sv db client
#   ansible.builtin.import_role:
#     name: sv_db_client

- name: Role sv fs client
  ansible.builtin.import_role:
    name: sv_fs_client

- name: Task dir in backup role
  ansible.builtin.import_role:
    name: backup
    tasks_from: dir

- name: Install rsync
  ansible.builtin.dnf:
    state: present
    name: rsync
