
module httpd 1.0;

require {
	type httpd_sys_script_t;
	type fusefs_t;
	class file entrypoint;
}

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t fusefs_t:file entrypoint;
