---
- name: Role sv lvm
  ansible.builtin.import_role:
    name: sv_lvm

# LVM pool meta data size < 16GiB + spare LV < 16GiB = 32
- name: Set gluster_data_pool_data_size_g
  ansible.builtin.set_fact:
    gluster_data_pool_data_size_g: >-
      {{ (ansible_lvm.vgs[lvm_vg].size_g | float) - 32.0 }}
  when: gluster_data_pool_data_size_g is not defined or gluster_data_pool_data_size_g is none

- name: Set gluster_data_size_g
  ansible.builtin.set_fact:
    gluster_data_size_g: >-
      {{ (gluster_data_pool_data_size_g | float) * (1.0 - gluster_data_snapshot_ratio) }}
  when: gluster_data_size_g is not defined or gluster_data_size_g is none

- name: Create a thin pool for glfs
  community.general.lvol:
    vg: '{{ lvm_vg }}'
    thinpool: '{{ gluster_data_pool_name }}'
    size: '{{ gluster_data_pool_data_size_g }}G'
    opts: '--poolmetadatasize {{ gluster_data_pool_meta_size }}'

# FIXME: Resizing the metadata of an existing pool hangs.
#   https://github.com/ansible-collections/community.general/issues/10056
# - name: Resize a thin pool meta for glfs
#   community.general.lvol:
#     vg: '{{ lvm_vg }}'
#     lv: '{{ gluster_data_pool_name }}_tmeta'
#     size: '{{ gluster_data_pool_meta_size }}'

- name: Create a thin volume for glfs
  community.general.lvol:
    vg: '{{ lvm_vg }}'
    thinpool: '{{ gluster_data_pool_name }}'
    lv: '{{ gluster_data_name }}'
    size: '{{ gluster_data_size_g }}G'

- name: Create a xfs filesystem on data
  community.general.filesystem:
    dev: '/dev/{{ lvm_vg }}/{{ gluster_data_name }}'
    fstype: xfs

- name: Mount glunter data
  ansible.posix.mount:
    path: '{{ gluster_data_dir }}'
    src: '/dev/{{ lvm_vg }}/{{ gluster_data_name }}'
    fstype: xfs
    state: mounted

- name: Set DefaultDeviceTimeoutSec 90s
  ansible.builtin.replace:
    path: /etc/systemd/system.conf
    regexp: '^#?DefaultDeviceTimeoutSec=.*$'
    replace: 'DefaultDeviceTimeoutSec={{ gluster_device_timeout }}'
  notify: 'reload systemd'
  when: gluster_device_timeout | default("90s") != "90s"
