# GlusterFS
---
- name: Enable and start glusterd
  ansible.builtin.systemd:
    name: glusterd.service
    enabled: true
    state: started

- name: Task gluster main
  ansible.builtin.import_tasks: gluster_main.yml
  when: inventory_hostname == gluster_main_server
