# fs - GlusterFS server
---
- name: Task disk
  ansible.builtin.import_tasks: disk.yml

# Use glusterfs service for firewall
- name: Task gluster_install
  ansible.builtin.import_tasks: gluster_install.yml

- name: Task firewalld
  ansible.builtin.import_tasks: firewalld.yml

- name: Task gluster
  ansible.builtin.import_tasks: gluster.yml

- name: Task ganesha
  ansible.builtin.import_tasks: ganesha.yml
  when: nfs_ganesha_use
