# web mount
---
- name: Set SELinux file context for dir
  community.general.sefcontext:
    target: '{{ item.target }}'
    ftype: '{{ item.ftype | default("a") }}'
    selevel: '{{ item.selevel | default("s0") }}'
    setype: '{{ item.setype }}'
    seuser: '{{ item.seuser | default("system_u") }}'
  loop:
    - { target: '{{ web_dir }}/\w+/tmp', setype: tmp_t }

- name: Creaet systemd web-fs.target
  ansible.builtin.copy:
    src: web-fs.target
    dest: /etc/systemd/system/web-fs.target
    owner: root
    group: root
    mode: '0644'

- name: Enable systemd web-fs.target
  ansible.builtin.systemd:
    name: web-fs.target
    enabled: true
    state: started
    daemon_reload: true

- name: Check sv_web_mount_entries
  ansible.builtin.assert:
    that: sv_web_mount_entries is defined
    msg: sv_web_mount_entries is undefined
    quiet: true

- name: Creaet systemd web-mount@.service
  ansible.builtin.template:
    src: web-mount@.service.j2
    dest: /etc/systemd/system/web-mount@.service
    owner: root
    group: root
    mode: '0644'
  notify: 'reload systemd'

- name: Intall python3-inotify for platform-python
  ansible.builtin.dnf:
    state: present
    name: python3-inotify

- name: Copy check-web-mount to libexec
  ansible.builtin.copy:
    src: check-web-mount
    dest: /usr/local/sbin/check-web-mount
    owner: root
    group: root
    mode: '0755'

- name: Creaet systemd check-web-mount@.service
  ansible.builtin.copy:
    src: check-web-mount@.service
    dest: /etc/systemd/system/check-web-mount@.service
    owner: root
    group: root
    mode: '0644'
  notify: 'reload systemd'
