- name: Task info
  ansible.builtin.include_tasks:
    file: info.yml
  when: tls_info is not defined

- name: Read cert file
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.x509_certificate_info:
    path: '{{ tls_info.cert }}'
  register: tls_cert_info

- name: Read chained cert file
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.x509_certificate_info:
    path: '{{ tls_info.chained_cert }}'
  register: tls_chained_cert_info
  when: tls_info.chained_cert is exists

- name: Create chained cert
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.copy:
    content: |
      {{ lookup("file", tls_info.cert) }}
      {{ lookup("file", data_tls_im_certs_dir ~ "/" ~ tls_im_certs[tls_cert_info.issuer.commonName]) }}
    dest: '{{ tls_info.chained_cert }}'
    mode: '0644'
  when:
    - tls_info.chained_cert is not exists or tls_chained_cert_info.serial_number != tls_cert_info.serial_number
    - tls_cert_info.issuer.commonName != tls_cert_info.subject.commonName

- name: Copy cert as chained cert for self-signed cert
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.copy:
    src: '{{ tls_info.cert }}'
    dest: '{{ tls_info.chained_cert }}'
    mode: '0644'
  when:
    - tls_info.chained_cert is not exists or tls_chained_cert_info.serial_number != tls_cert_info.serial_number
    - tls_cert_info.issuer.commonName == tls_cert_info.subject.commonName
