# tls key tasks on localhost
---
- name: Task info
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.import_tasks:
    file: info.yml

- name: Create private key
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.openssl_privatekey:
    path: '{{ tls_info.key }}'
    type: '{{ tls_type }}'
    curve: '{{ tls_curve }}'
    size: '{{ tls_size }}'
    mode: '0600'
