# tls key tasks on localhost
---
- name: Task info
  ansible.builtin.include_tasks:
    file: info.yml
  when: tls_info is not defined

- name: Create private key
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.openssl_privatekey:
    path: '{{ tls_info.key }}'
    type: '{{ tls_info.type | default(tls_type) }}'
    curve: '{{ tls_info.curve | default(tls_curve) }}'
    size: '{{ tls_info.size | default(tls_size) }}'
    mode: '0600'
    force: '{{ tls_force }}'
    backup: '{{ tls_backup }}'
