- name: Task info
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.import_tasks:
    file: info.yml
  when: tls_info is not defined

- name: Read cert file
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.x509_certificate_info:
    path: '{{ tls_info.cert }}'
  register: tls_cert_info

- name: Read private key file
  delegate_to: localhost
  become: false
  run_once: true
  community.crypto.openssl_privatekey_info:
    path: '{{ tls_info.key }}'
  register: tls_key_info

- name: Verify key and cert
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.assert:
    that: tls_cert_info.public_key_fingerprints.sha256 == tls_key_info.public_key_fingerprints.sha256
    msg: 'Certificate and private key do not validate: {{ tls_info.cert }} != {{ tls_info.key }}'
    quiet: true

- name: Verify cert common name matches
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.assert:
    that: tls_info.cn == tls_cert_info.subject.commonName
    msg: >-
      Certificate common name does not match expected value:
      {{ tls_info.cn }} != {{ tls_cert_info.subject.commonName }}
    quiet: true

- name: Verify cert expriation time
  delegate_to: localhost
  become: false
  run_once: true
  ansible.builtin.assert:
    that:
      - tls_cert_info.not_after > "%Y%m%d%H%M%SZ" | strftime(utc=True)
      - tls_cert_info.not_before < "%Y%m%d%H%M%SZ" | strftime(utc=True)
    msg: >-
      Certificate has expired: {{ tls_info.cert }}
      [{{ tls_cert_info.not_before }} - {{ tls_cert_info.not_after }}]'
    quiet: true
